#banner {
	position: relative;
	border:10px solid #909090;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 20px black;
	width:1400px;
	height:120px;
}

#container {
	position: relative;
}

#lside {
	position: absolute;
	border:10px solid #909090;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 20px black;
	width:140px;
	height: 450px;
	left: 585px;
}

#rside {
	position: absolute;
	border:10px solid #909090;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 20px black;
	width: 140px;
	height: 450px;
	right: 585px;
}

#main {
	border:10px solid #909090;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 20px black;
	width:1000px;
	height:560px;
	text-align: center;
	vertical-align: center;
}

#pop {
	position: absolute;
	border: 5px solid #88f8a0;
	background-color: #88f8a0;
	border-radius: 10px;
	box-shadow: 10px 10px 20px black;
	width:450px;
	height:150px;
	margin-left: 500px;
	top: 92%;
}

BODY {
	background-color: #4e4e4e
}

IMG {
	max-width: 100%;
	max-height: 100%;
	display:block;
    margin:0;
    padding:0;
	border:none;
}

.icon {
	width: 20px;
	height: 20px;
}

.navicon {
	display: table-cell;
	vertical-align: middle;
	width: 70px;
	height: 70px;
	margin: 5 5px;
}

.brick {
	display: table-cell;
	vertical-align: middle;
	width: 70px;
	height: 70px;
	margin: 0 0px;
}

.center {
	margin: auto;
}

#eye {
	border: 5
}

#topright {
	position: absolute;
	top: 0px;
	right: 0px;
}

#botright {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#glass {
	position: absolute;
	bottom: -30px;
	right: 20px;
}
