@media (max-width:480px)
{
	.symbole {font-size:14px;}
	.mol, .num {font-size: 10px;}
	table, tr, td {	display: block; }
	.chocolate {height: 6%;}
}

@media (min-width:480px) and (max-width:780px)
{
	.symbole {font-size:22px;}
	.mol, .num {font-size: 11px;}
	.chocolate {height: 8%;}
}

@media (min-width:780px)
{
	.symbole {font-size: 30px;}
	.mol, .num {font-size: 12px;}
	.chocolate {height: 10%;}
}

H1 {
	text-align: center;
	color: black;
}

BODY {
	background-color:white;
}

TD {
	border: 1px solid black;
	color:#0645ad;
}

TABLE .autres_nonmetaux { background-color:#A0FFA0; }
TABLE .metaux_alcalins { background-color:#FFCC33; }
TABLE .metaux_alcalinoterreux { background-color:#FFFF44; }
TABLE .metaux_transition { background-color:#DDBBBB; }
TABLE .metaux_posttransition { background-color:#99DDCC; }
TABLE .lanthanides { background-color:#FFBB99; }
TABLE .actinides { background-color:#EEBBDD; }
TABLE .metalloides { background-color:#77DD88; }
TABLE .non_metaux { background-color:#22FF22; }
TABLE .gaz_rares { background-color:#77CCFF; }
TABLE .inconnus { background-color:#DDDDDD; }

.symbole {
	font-weight: bold;
	text-align: center;
}

.num {
	text-align: left;
}

.mol {
	text-align: right;
}

.chocolate {
	vertical-align: bottom;
	background-image: url('https://robeasto.files.wordpress.com/2011/01/periodic-chocolate.png');
	width: auto;
	height: 10%;
}

.FOOTER {
	font-family: monospace;
	text-align: right;
	font-style: italic;
}
